[Unit]
Description=Notify you when a product is available for delivery
After=network.target

[Service]
WorkingDirectory=/opt/IKEA-Notifier
ExecStart=gunicorn --workers 1 --bind 0.0.0.0:7070 main:app

[Install]
WantedBy=multi-user.target